body{
    background-color: #393737;
}   

header{
    padding-top: 35px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 0 60px;
}
.menu-bar{
    display: flex;
    list-style: none;
    font-family: Inter;
    font-size: 24px;
    column-gap: 50px;
    color: #fff; 
}

.titulo{
    column-gap: 15px;
    font-size: 60px;
    font-family: Inter;
    color: white;
    display: flex;
    align-items: center;
    padding: 150px 0 0 60px;
}

span{
    color: red;
}

p{
    height: 10px;
    width: 900px;
    font-size: 24px;
    font-family: Inter;
    padding: 0 60px;
    color: white;
}

.btn{
    width: 200px;
    height: 80px;
    border-radius: 30px;
    border-color: black;
    margin-top: 60px;
    margin-left: 60px;
    color: white;
    background-color: red;
}

.esquerda{
    width: 500px;
    height: 500px;   
}

.direita{
    height: 500px;
    width: 500px;
}

.homem{
    width: 700px;
    height: 950px;
    margin-left: 690px;
    margin-top: -90px;
}

.corpo{
    display: flex;
}

.redes{
    margin-top: 250px;
    margin-left: 60px;
}